@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Azul escuro: #04122a
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    background-color: #04122a;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #04122a url(../imagens/mountain-black.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.404);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #04122a url(../imagens/1304733.jpeg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #04122a;
    border: 2px solid #04122a;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #5f9e9c;
    color: black;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 10px;
    border: none;
    padding: 4px;
    transform: translateY(-12px);
    transition: all .3s ease;
}

div.campo > input:focus-within {
    background-color: #abdad8;
}

div.campo > input::placeholder {
    color: rgba(255, 255, 255, 0.705);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    font-weight: 600;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
}

form > input[type=submit]:hover {
    color: black;
    background-color: #70fffa;
}

form > a.botao {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    color: black;
    margin-top: 15px;
}

form > a.botao:hover {
    color: #49a09d;
}

form > a.botao > span {
    font-size: 0.85em;
}